html {
    background-color: #000;
}

.title_emphasize {
    color: blueviolet;
}

.screen {
    overflow: hidden;
}
.screen.bg-black {
    background-color: #fff !important;
}
.feed_screenshot {
    width: 125%;
    height: 80%;
    transform: translateX(-30px) translateY(50px);
    background-color: #fff;
}

.msgInput_label, .private_key_label {
    width: 80%;
}
#msgInput {
    display: block;
    width: 100%;
    height: 130px;

    padding: 10px;

    /* border: none; */
    overflow: auto;
    /* outline: none; */

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
#private_key {
    display: block;
    width: 100%;
    padding: 5px 10px;
}
.private_key_label, .fee_label {
    margin-top: 20px;
}

#post_btn {
    display: block;
    margin-top: 25px;
    padding: 10px 30px !important;
}
.email_link {
    color: #fff !important;
}
#fee {
    width: 120px;
    display: block;
}
.post_date {
    /* font-weight: lighter !important; */
    /* color: #6c757d !important; */
    /* font-family: var(--bs-body-font-family); */
}
#copy_link_btn {
    margin-top: 30px;
    transition: background-color 1s;
}
.clicked_copy_btn {
    background-color: green !important;
}
.transaction_id_title {
    color: #fff;
    opacity: .7;
    font-size: 0.6em;
}
.external_explorer_link {
    color: #000 !important;
    font-family: var(--bs-body-font-family);
    font-size: 1.05em;
}

.explorer_list_title {
    margin-bottom: 2rem !important;
    text-align: center;
}

.post_wrapper {
    padding: 30px;
    margin-bottom: 40px;
    
    border: 1px solid #ccc;
    border-radius: 20px;

    background-color: #FDFDFC;
}
.post {
    display: flex;
}
.post_profile_image {
    width: 60px;
    margin-right: 20px;
    flex-shrink: 0;
}
.post_profile_image img {
    width: 100%;
}
.profile_name_link {
    text-decoration: none;
    font-weight: bold;
}