html, body {
    /* background-color: #000; */

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#mainNav > .container {
    flex-wrap: wrap-reverse;
}

.title_emphasize {
    color: blueviolet;
}

.screen {
    overflow: hidden;
}
.screen.bg-black {
    background-color: #fff !important;
}
.feed_screenshot {
    width: 125%;
    height: 80%;
    transform: translateX(-30px) translateY(50px);
    background-color: #fff;
}

.msgInput_label, .private_key_label {
    width: 80%;
}
#msgInput {
    display: block;
    width: 100%;
    height: 130px;

    padding: 10px;

    /* border: none; */
    overflow: auto;
    /* outline: none; */

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
#private_key, #btc_donation_reply {
    display: block;
    width: 100%;
}
.private_key_label, .fee_label, .btc_donation_reply_label {
    margin-top: 20px;
}
.label_media_files {
    margin-top: 30px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.label_media_files input {
    margin-left: 0.8rem;
}

#post_btn {
    display: block;
    margin-top: 25px;
    margin-left: 0;
    padding: 10px 30px !important;
}
.email_link {
    color: #fff !important;
}
#fee {
    width: 120px;
    display: block;
}
#copy_link_btn.post_empty_copy {
    margin-top: 50px;
}
#copy_address_btn {
    transition: background-color 1s;
}
.clicked_copy_btn {
    background: green !important;
}
.transaction_id_title {
    color: #fff;
    opacity: .7;
    font-size: 0.6em;
}
.external_explorer_link {
    color: #000 !important;
    font-family: var(--bs-body-font-family);
    font-size: 1.05em;
}

.explorer_list_title {
    margin-top: 4rem;
    margin-bottom: 2rem !important;
    text-align: left;
}

.post_wrapper {
    /* padding: 20px 30px 30px 30px; */
    margin-bottom: 25px;
    
    /* border: 1px solid #ccc; */
    /* background-color: rgba(2, 76, 181, 0.1); */
    border: 5px solid rgba(2, 76, 181, 0.06);
    border-radius: 10px;
    overflow: hidden;

    background-color: #FDFDFC;
    display: block;#FDFDFC
    /* cursor: pointer; */
}
.post_profile_image a {
    display: inline-block;
    margin-right: 20px;
}
.arrow_address {
    margin-right: 20px !important;
}
.post_relevant_information {
    margin-bottom: 10px;
}
.post_profile_image {
    margin-right: 20px;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.post_profile_image img {
    height: 40px;
}
.separator {
    margin: 0 3px;
}
.profile_name_link {
    text-decoration: none;
    font-weight: bold;
    color: #444;
    font-weight: bold;
}
.post_date, .separator {
    font-size: 0.9rem;
}
.profile_picture {
    border-radius: 5px;
}
.section_explorer_address {
    padding-top: 3rem;
}
.posts_section {
    padding-top: 1rem;
}
.from_to_arrow {
    font-size: 1.9rem;
    font-weight: bold;
    color: #ccc;
    display: inline-block;
    transform: translateY(6px);
    /* margin-right: 20px; */

    transition: 0.1s color;
}

.return_arrow {
    display: inline-block;
    font-size: 2.3rem;
    transform: rotate(180deg);
    text-decoration: none;
    transition: transform 0.03s;
    position: relative;
    top: 7px;

    max-height: 38px;
    overflow: hidden;
}
.return_arrow a {
    text-decoration: none;
    color: rgb(35, 47, 204);
}
.return_arrow:hover {
    transform: rotate(180deg) scale(1.2) !important;
}


.post_container {
    margin-top: 1rem;
}
.hum_read_switch_text {
    margin-left: 10px;
    font-size: 1.1rem;
    display: inline-block;

    position: relative;
    top: 4px;
}
.network_select_wrapper {
    flex-basis: auto;
    flex-grow: 2;

    display: flex;
    align-items: center;
    /* justify-content: left; */
    justify-content: space-between;
}
.network_select_wrapper_footer {
    display: block;
    margin-bottom: 2rem;
}
#navbarResponsive {
    flex-grow: 5;
}
#network_select_label, #network_select_label_footer {
    display: inline;
    /* font-weight: bold; */

    color: #fff;
    background-color: #333;

    padding: 10px 20px;
    border-radius: 800px;
}
#network_select, #mobile_network_select {
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 20px;

    border: none;
    outline: none;
    border-radius: 20px;
    background-color: inherit;
    color: inherit;

    font-weight: bold;
    cursor: pointer;
}
.btn-primary {
    background-color: #024cb5;
    border-color: #024cb5;
    font-weight: bold;

    padding: 10px 25px !important;
}
.network_brand {
    color: #fff !important;
    display: inline-block;
    padding: 0 20px 0 10px;
    margin: 0;
    cursor: pointer;
}
.network_brand:hover {
    color: #fff !important;
}
.setting_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.justify-right {
    justify-content: right;
}

.circle-img-wrapper {
    margin: 2rem 0;
}
.feature_icon_wrapper {
    margin-bottom: 2rem;
}

.masthead {
    padding-top: 10rem;
    padding-bottom: 6rem;
}
.fee_warning_wrapper {
    line-height: 3.2rem;
}

#post_msg {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.faucet_link {
    text-decoration: none;
}
.explorer-header-link {
    font-size: 1.1rem;
    font-weight: bold;
}
.btn-contact-us {
    background-color: #fff;
    color: #2937f0;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 12px 30px !important;
    display: inline-block;
}
.btn-contact-us:hover {
    background-color: #000 !important;
}
.quick_post_input {
    border: 1px solid #777;
    border-radius: 10px;
    margin-top: 5px;
    padding: 7px 15px;
    outline: none;
    display: inline-block;
}
.post-info {
    background-color: #fff;
    border-bottom-left-radius: 15px;
}
.quick_post_input:focus {
    outline: 1px solid rgb(35, 47, 204);
    border: 1px solid rgb(35, 47, 204);
}
#private_key, #btc_donation_reply {
    font-size: 0.9rem;
}
.bg-gradient-secondary-to-primary {
    background: linear-gradient(45deg, #9f1ae2, #2937f0) !important;
}
.masthead-contact {
    padding-top: 9.5rem;
    padding-bottom: 4rem;
}
.masthead-contact p {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.contact_input_wrapper > * {
    display: block;
}
.contact_input_wrapper > input,
.contact_input_wrapper > textarea {
    width: 100%;
}
.contact_input_wrapper > input {
    margin-bottom: 2rem;
}
.contact_input_wrapper > textarea {
    margin-bottom: 1rem;
    height: 18rem;
    resize: none;
}
#contact_message_submit {
    border: none;
    border-radius: 10px;
    padding: 13px 0;
    margin-top: 25px;
    width: 100%;

    background-color: rgb(2, 76, 181);

    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;

    transition: 0.5s background-color;
}
.contact_input_wrapper label {
    margin-bottom: 10px;
}
.success_contact_message_submit {
    background-color: #256740 !important;
}
.error_contact_message_submit {
    background-color: #873618 !important;
}
.mission_cols {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission_verse {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.5rem;
    font-weight: normal;
    color: #fff;
}
.mission_icon {
    font-size: 8rem;

    background: -webkit-linear-gradient(45deg, #2937f0, #9f1ae2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.masthead-contact,
#mission_text {
    background: none;
}
.masthead-mission {
    padding-bottom: 0;
}

#recent_select {
    font-size: 1.25rem;
    padding: 0;

    display: flex;
    margin-right: 2rem;
}
#recent_select div {
    /* border: 3px solid rgba(2, 76, 181, 0.1); */
    background-color: rgba(2, 76, 181, 0.4);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.4rem 0.3rem;
    outline: none;
    border-radius: 4px;
    color: #FDFDFC;
    font-weight: bold;
}
#recent_select div:hover {
    /* background-color: #FDFDFC; */
    color: rgb(2, 76, 181);
    /* border-color: #fff; */
    /* border-color: rgb(2, 76, 181); */
    /* background-color: rgba(2, 76, 181, 0.05); */
}
.recent_selected {
    background-color: rgb(2, 76, 181) !important;
    color: #fff !important;
    /* border: 2px solid rgb(2, 76, 181) !important; */
}
.recent_selected:hover {
    color: #ccc !important;
}
.anytime_recent {
    padding: 5px 15px !important;
}
.explorer_search_link {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    border: 1px solid #333;
    border-radius: 800px;
    overflow: hidden;
}
.explorer_search_link i {
    font-size: 1.3rem;
    margin-left: 1.2rem;
    margin-right: 0.8rem;
    cursor: pointer;
}
.explorer_search_link input {
    display: inline-block;
    height: 100%;
    /* border-left: none;
    border-top: none;
    border-bottom: none; */

    border: 0px solid #333 !important;;

    outline: none !important;
}
.explorer_search_ul {
    flex-grow: 3;
    margin: 0 1rem !important;
}
.search_field {
    flex-grow: 5;

    display: flex;
    align-items: center;
    flex-direction: row;
}
.search_field input {
    flex-grow: 5;
    /* justify-content: start; */
}
.explorer-header-link {
    padding-left: 1rem !important;
    padding-right: 1.2rem !important;
    margin-right: 0 !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #333;
}
.explorer-header-link:hover {
    background-color: #000;
    color: #fff !important;
}
.bi-search-hidden {
    display: none;
}
.bi-x-lg {
    color: #333;
    font-weight: lighter;
}

#create_post_form label {
    width: 100%;
}
#create_post_form {
    width: 100%;
}
.label_post_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#create_post_form .fee_label,
#create_post_form .label_media_files {
    text-align: center;
}
#create_post_form #fee {
    display: inline-block;
    margin-left: 1rem;
}
#create_msg {
    padding-top: 0;
}
.masthead-create {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 3rem;
}
#create_msg #msgInput {
    height: 250px;
}
.icon_attachments {
    font-size: 1.5rem;
}


.post_media {
    background: #fff;
    padding: 20px 30px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.post-info {
    padding: 10px 30px 25px 30px;
    height: 100%;
}

.media {
    margin-bottom: 1rem;
    width: 100%;
}
.media a {
    color: #000;
    text-decoration: none;
    
    display: inline-flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 25px;
    transition: color 0.1s, border-color 0.1s;
}
.media .media_icon {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
.media .media_filename {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.95rem;
}
.media a:hover {
    color: #9f1ae2;
    border-color: #9f1ae2;
}

.post_page_media {
    background-color: transparent;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.post_page_media .media {
    background-color: #fff;
}
.external_explorer {
    margin-top: 2rem;
}
.post_network {
    color: #333;
}

.media_pic {
    width: 100%;
    overflow: hidden;

    border-radius: 5px;
    background: 2px solid #ccc;
    margin-bottom: 10px;
}
.media_pic video {
    border-radius: 15px;
}
.media_pic img, .media_pic video {
    width: 100%;
    overflow: hidden;
}
.media_upload_caution {
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
}
.media_pic:last-child {
    margin-bottom: 0 !important;
}
.donation_text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    /* color: #6c757d !important; */
}
.donation_qrcode {
    width: 100%;
    text-align: center;

    margin: 1.5rem 0 2.5rem;
}
.donation_qrcode img {
    max-width: 100% !important;
    max-height: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.donation_text a {
    color: #000;
    text-decoration: none;
}
.donate_info_section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.donation_address {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.donation_copy {
    text-align: center;
    margin-bottom: 0;
}
.post_text {
    overflow-wrap: break-word;
}
.bitcoin_donate_icon {
    display: inline-block;
    transform: rotate(-10deg) scale(1.2);
    color: rgb(2, 76, 181);
}

#search_bar, .explorer_search_link {
    background-color: #f8f9fa;
}
#search_bar {
    margin: 10px 0;
    display: inline-block;
    /* border: none; */
    outline: none;
    border-radius: 0px !important;

    border: 0px solid #000;
    border-top: 0px solid #000;
    border-left: 0px solid #000;
    border-bottom: 0px solid #000;
}

.masthead-explorer {
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.post_link a {
    color: #333;
    font-size: 0.95rem;
    transition: 0.3s color;
}
.post_link a:hover {
    color: rgb(2, 76, 181) !important;
}
.multiple_post_pics {
    width: 48%;
    /* margin-right: 3%; */
    display: inline-block;
}
.interactions {
    padding: 5px 0 0 0;
}
.post_reactions {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}
.reaction {
    /* border: 1px solid rgba(225, 225, 225, 1); */
    /* background-color: rgba(248, 248, 248, 0.4); */
    background-color: #fff;
    padding: 3px 14px 6px;
    margin-right: 0.6rem;
    margin-bottom: 0.8rem;
    border-radius: 800px;
    cursor: pointer;
    border: none;
}
.reaction:hover {
    /* border: 1px solid rgba(2, 76, 181, 0.2) !important; */
    background-color: rgba(2, 76, 181, 0.2) !important;
}
.reaction_active {
    background-color: rgba(2, 76, 181, 0.1) !important;
}
.reaction_comment i {
    /* color: rgb(2, 76, 181); */
    color: #000;
    display: inline-block;
    margin: 0 6px;
    transform: translateY(2px);
}
.reaction_number {
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;
    color: #333;
    margin-bottom: 2px;
}
.reaction_comment .reaction_number {
    margin-left: 3px;
}
.post_reaction_comment {
    margin-top: 1rem;
    width: 90%;
    text-align: center;
    background-color: #fff;
}

.interaction_row {
    background-color: rgba(2, 76, 181, 0.03);
    padding-top: 15px;
    padding-bottom: 0px;
}
.comment_textarea {
    width: 90%;
    border: none;
    background-color: inherit;
    outline: none;
    background: #fff;

    height: 30px;
    min-height: 30px !important;
    margin-top: 13px;
    margin-bottom: 13px;
}
.reaction_comment_wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #fff;
}
.reaction_comment {
    border-radius: 5px;
    padding: 0 30px;
    margin-bottom: 20px;
}
.comment_icon {
    display: block;
    padding: 0 20px;
    height: 100%;
    transition: 0.1s transform;
}

.comment_icon i {
    cursor: pointer;
}

.comment_next_icon:hover {
    transform: scale(1.6) translate(2px, -1px);  
}
.comment_icon button {
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
}
.slider {
    background-color: rgba(2, 76, 181, 0.4);
}

.published_replies {
    background-color: #fff;
    margin-top: 15px;
}

.reply_info img {
    height: 40px;
    border-radius: 5px;
    margin-right: 15px;
}

.reply_info {
    display: flex;
    align-items: center;
    justify-content: start;

    margin-bottom: 10px;
}
.reply_info .reply_name {
    font-weight: bold;
}
.reply {
    padding: 5px 30px;
    margin-bottom: 0;
    /* border-bottom: 10px solid rgba(2, 76, 181, 0.03); */
}
.reply:first-child {
    padding-top: 15px;
}
.reply:last-child {
    padding-bottom: 10px;
}
.reply_datetime {
    font-size: 0.9rem;
}
.reply_reactions {
    margin-top: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}
.reply_reactions .reaction {
    border: 1px solid #ddd;
}
 .post_page_reactions {
    padding: 0;
    flex-wrap: wrap !important;
    justify-content: start !important;
 }
 .post_page_reactions .reaction {
    background-color: rgba(2, 76, 181, 0.03);
 }
 .post_published_replies .reply {
    border: 1px solid #ccc;
    border-radius: 15px !important;
    margin-bottom: 15px;
    padding: 20px 20px 10px !important;
 }
 .post_published_replies .reply:last-child {
    margin-bottom: 0;
 }
 .post_reaction_comment {
    border: 1px solid #ccc;
    padding: 0 3px;
    overflow: hidden;
    margin-bottom: 0px;
 }
 .three_dots_repliers {
    text-align: center;
    font-size: 1.7rem;
    height: 20px;
    margin-bottom: 20px;
    color: #aaa;
 }
 .post_empty_moto {
    margin-top: 3rem;
 }
 .reply_reaction_comment_wrap {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 5px;

    font-size: 0.95rem;
 }
 .reply_reaction_comment_wrap .comment_textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.95rem;
 }
 .sub_reply {
    border-left: 1px solid #ddd;
    padding-left: 25px;
    margin-top: 20px;
 }
 a.reaction {
    text-decoration: none;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(2, 76, 181, 0.1);
    color: #333;

    display: inline-flex !important;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
 }
 a.btc_reaction:hover {
    background-color: #333 !important;
 }
 a.reaction .reaction_number {
    /* color: #fff; */
    /* font-weight: bold; */
    font-size: 0.9rem;
 }
 .post_submenu {
    display: inline-block;
    padding: 2px 7px;

    margin-right: 20px;
    transform: translateY(2px);

    border: 2px solid #ccc;
    border-radius: 500%;
    color: #ccc;
    cursor: pointer;
    font-size: 16px;

    transition: 0.1s color, 0.1s border-color;
 }
 .post_submenu:hover, .from_to_arrow:hover, .post_submenu_active {
    color: #333;
    border-color: #333;
 }
 .btc_reaction_number {
    padding-left: 0;
    margin-left: 0;
 }
 .post_reactions {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
 }
 a.btc_reaction, .post_page_reactions a.btc_reaction {
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    margin-top: 1px;

    background-color: rgb(2, 76, 181);
    color: #fff;
    transition: 0.1s background-color;
 }
 .post_page_reactions a.btc_reaction {
    /* margin-top: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: #333; */
 }
 .btc_reaction_number {
    font-size: 0.85rem;
 }
 .create_reply_post_link {
    color: #000;
 }
 .reply_post_link {
    color: #333;
 }
 .post_replying_to {
    font-size: 0.95rem;
 }
 .additional_top_margin {
    margin-top: 10px;
 }
 h5 .post_replying_to {
    font-weight: 400;
    font-size: 1.05rem;
    color: #333;
 }
 .full_post_replies_counter {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 0 !important;
    margin-bottom: 0;
    font-size: 1rem !important;
    transform: translateY(-0.5px);
 }

.modal_sub_menu {
    display: none;

    position: absolute;
    top: 46px;
    left: 0;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.modal_sub_menu_active {
    display: block !important;
}
.post_profile_image {
    position: relative;
}
.modal_sub_menu ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.modal_sub_menu ul li {
    font-size: 0.9rem;
    color: #333;

    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.1s;
}
.modal_sub_menu ul li:hover {
    background-color: #ddd;
}
.modal_sub_menu ul li:last-child {
    border-bottom: none;
}
.modal_sub_menu ul li a {
    text-decoration: none;
    color: #333;
    width: 100%;
    display: inline-block;
}
.mission_questions {
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.mission_question {
    border: 1px solid #888;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 2rem;
}
.mission_question:last-child {
    margin-bottom: 0 !important;
}
.question_preface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
.mission_question:hover {
    background-color: #fafafa;
}
.preface_expand {
    /* font-size: 1.5rem; */
    color: #555;
    transition: 0.3s transform;
    margin-left: 1rem;
}
.preface_expand_active {
    transform: rotate(-90deg);
}
.preface_question {
    font-size: 1.5rem;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
footer {
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 5rem !important;
    /* background-color: #fff; */
    color: #333;
}

.question_answer {
    height: 0;
    overflow: hidden;

    padding: 0 1.5rem;
    font-size: 1.1rem;
    transition: 0.3s height, 0.1s padding;
}
.question_answer_active {
    height: auto !important;
    padding: 0.5rem 1.5rem 1rem;
}
.post_link_sm_text {
    margin-left: 5px;
}

@media screen and (min-width: 992px) {
    .post_link_sm {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .post_link_lg {
        display: none;
    }
    /* .masthead {
        padding-top: 13rem;
    } */

    #mission_text {
        padding-top: 3rem;
    }
    .mission_verse {
        font-size: 1.4rem;
    }
    .mission_verse br {
        margin-bottom: 1rem !important;
        display: block;
        line-height: 1rem;
        content: "";
    }
    #post_msg {
        padding-top: 3rem;
    }
    .post_reaction_comment {
        width: 100%;
    }

    .explorer_search_ul {
        /* margin: 0.7rem 0 0 0 !important; */
        /* margin: 0 0 0.7rem 0 !important; */
        margin: 0 !important;
        max-width: 100%;
    }
    .network_select_wrapper {
        display: none;
    }
}
@media screen and (max-width: 767px){
    .post_link_sm_text {
        display: none;
    }
    .mission_verse {
        /* font-size: 1rem; */
        line-height: 2.3rem;
    }
    .donation_qrcode {
        margin-bottom: 0;
    }
    .fee_warning_wrapper {
        padding: 0 2rem;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 493px) {
    #search_bar {
        margin: 0 5px;
    }
}
@media screen and (max-width: 468px){
    .post_reactions {
        flex-wrap: wrap !important;
    }
    .donation_address {
        font-size: 1rem;
    }
    .donation_text {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 383px){
    .search_field label[for="search_bar"] {
        display: none;
    }
    #search_bar {
        padding-left: 1.5rem;
    }
    .explorer-header-link-text {
        display: none;
    }
    .explorer_search_link i {
        margin: 0 0.5rem 0 0;
    }
    .explorer_search_link input {
        border-right: none;
    }
    .donation_address {
        font-size: 0.8rem;
        margin-top: 0;
    }
    .comment_icon:first-child {
        display: none;
    }
    .comment_textarea {
        margin-left: 1rem;
    }
    .fee_warning_wrapper {
        padding: 0 1rem;
    }
    .transaction_id_title {
        font-size: 0.5em;
    }
}
@media screen and (min-width: 384px){
    .explorer-header-link-icon {
        display: none;
    }
}
@media screen and (max-width: 335px) {
    .recent_option_anytime_full {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .filter {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .post_network {
        display: none;
    }
    .separator {
        display: block;

        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: transparent;
    }
}
.btn-primary {
    margin-left: 1rem;
}

.mobile_create_btn {
    cursor: pointer;
    color: #fff;
    font-size: 1.7rem;

    border-radius: 100%;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 15px;
    right: 10px;

    background: linear-gradient(45deg, #9f1ae2, #2937f0) !important;
}
.mobile_create_btn a {
    color: #fff;
    text-decoration: none;
    outline: none;
}