<!-- Basic features section-->
<section class="bg-light posts_section" id="explorer_section">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-12 col-lg-10">

                <div class="setting_section">
                    <div class="recent_filter">
                        <div name="recent" id="recent_select">
                            <div value="D" class="recent_option {% if g.recent == 'D' %}recent_selected{% endif %}">1D</div>
                            <div value="W" class="recent_option {% if g.recent == 'W' %}recent_selected{% endif %}">1W</div>
                            <div value="M" class="recent_option {% if g.recent == 'M' %}recent_selected{% endif %}">1M</div>
                            <div value="Y" class="recent_option {% if g.recent == 'Y' %}recent_selected{% endif %}">1Y</div>
                            <div value="A" class="anytime_recent recent_option {% if g.recent == 'A' %}recent_selected{% endif %}">Anytime</div>
                        </div>
                    </div>
                    <div class="filter">
                        <!-- Rounded switch Human Readable On/Off -->
                        <label class="switch" id="hum_read_switch">
                            <input type="checkbox" {% if g.human %}checked{% endif %}>
                            <span class="slider round"></span>
                        </label>
                        <span class="hum_read_switch_text">Human Readable</span>
                    </div>
                </div>
                {% if totalNmberOfPosts == "0" %}
                    <h4 class="display-5 lh-1 mb-4 explorer_list_title">No posts were found.</h4>
                {% else %}

                    <div class="post_container">
                        {% for message in messages %}
                            <div class="post_wrapper">
                                <div class="post row">
                                    <div class="{% if message.media %}col-7{% else %}col-12{% endif %}">
                                        <div class="post-info">
                                            <div class="post_profile_image">
                                                <!-- Sent from -->
                                                {% for address in message.addresses %}
                                                    {% if not address.direction %}
                                                        <a href="/{{ address.address }}">
                                                            <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                                {% if message.addresses|length > 1 %}
                                                    <a href="{{ url_for('post', hash=message.hash) }}" class="arrow_address"><span class="from_to_arrow"><i class="bi bi-arrow-right-circle"></i></span></a>
                                                {% endif %}

                                                <!-- Sent to -->
                                                {% for address in message.addresses %}
                                                    {% if address.direction %}
                                                        <a href="/{{ address.address }}">
                                                            <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="post_content">
                                                <div class="post_relevant_information">
                                                    <a href="{{ url_for('post', hash=message.hash) }}" class="profile_name_link">Post #{{ format_shorten_address(message.hash) }}</a>
                                                    <span class="separator">&#9900;</span>
                                                    <span class="post_date">{{ format_date(message.timestamp) }}</span>
                                                    <span class="separator">&#9900;</span>
                                                    {% if message.network == 'btc' %}
                                                        <span class="post_network"><i class="bi bi-currency-bitcoin"></i></span>
                                                    {% elif message.network == 'btc-test' %}
                                                        <span class="post_network"><i class="bi bi-code-slash"></i></span>
                                                    {% endif %}
                                                    <!-- <span class="separator">&#9900;</span> -->
                                                    <!-- <span class="post_link"><a href="{{ url_for('post', hash=message.hash) }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></span> -->
                                                </div>
                                                <div class="post_text">{{ message.formatted_text }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if message.media %}
                                        <div class="col-5">
                                            <div class="post_media">
                                                <!-- videos -->
                                                {% for media in message.media %}
                                                    {% if media.type == "video/mp4" %}
                                                        <div class="media_pic">
                                                            <!-- <a href="{{ url_for('media', id=media.id) }}" target="_blank"> -->
                                                                <video alt="media" class="media_image" controls>
                                                                    <source src="{{ url_for('media', id=media.id) }}" type="video/mp4">
                                                                </video>
                                                            <!-- </a> -->
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                <!-- images -->
                                                {% for media in message.media %}
                                                    {% if media.type == "image/jpeg" %}
                                                        <div class="media_pic {% if message.media|length > 1 %}multiple_post_pics{% endif %}">
                                                            <a href="{{ url_for('media', id=media.id) }}" target="_blank">
                                                                <img src="{{ url_for('media', id=media.id) }}" alt="media" class="media_image">
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                <!-- other files -->
                                                {% for media in message.media %}
                                                    {% if media.type != "image/jpeg" and media.type != "video/mp4" %}
                                                        <div class="media">
                                                            <a href="{{ url_for('media', id=media.id) }}" target="_blank">
                                                                <span class="media_icon"><i class="bi bi-file-earmark-text"></i></span>
                                                                <span class="media_filename">{{ media.filename }}</span>
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="interaction_row row">
                                    <div class="col-12">
                                        <form method="POST">
                                            <div class="interactions">
                                                <div class="post_reactions">
                                                    {% for reaction in g.reactions %}
                                                        <button class="reaction reaction_{{ reaction }}" data-reaction="{{ reaction }}" data-post="{{ message.hash }}" type="submit">{{ g.reactions[reaction]|safe }}
                                                            {% if message[reaction + '_counter'] > 0 %}
                                                                <span class="reaction_number">{{ message[reaction + '_counter'] }}</span>
                                                            {% endif %}
                                                        </button>
                                                    {% endfor %}
                                                    
                                                </div>
                                                <div class="post_comments">
                                                    <div class="reaction_comment">
                                                        <div class="reaction_comment_wrap">
                                                            <span class="comment_icon"><label for="comment_{{ message.hash }}"><i class="bi bi-chat-right-text"></i></label></span>
                                                            <textarea name="comment_text" id="comment_{{ message.hash }}" class="comment_textarea" placeholder="Leave a comment" maxlength="5000"></textarea>
                                                            <input type="hidden" name="comment_post" value="{{ message.hash }}">
                                                            <input type="hidden" name="comment_reaction" id="comment_reaction_{{ message.hash }}" value="">
                                                            <span class="comment_icon comment_next_icon"><button type="submit"><i class="bi bi-arrow-right"></i></button></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


<!-- script for posts refering and human-readable filter -->
<script>
    // let post_blocks = document.getElementsByClassName('post_wrapper');
    // Array.prototype.forEach.call(post_blocks, (block) => {
    //     block.addEventListener('click', () => {
    //         // Simulate a mouse click:
    //         window.location.href = block.getElementsByClassName('profile_name_link')[0].href;
    //     });
    // });

    let switchHumRead = document.getElementById("hum_read_switch");
    switchHumRead.addEventListener('click', () => {
        // Simulate a mouse click:
        let url = new URL(window.location.href)
        let params = new URLSearchParams(url.search);

        {% if g.human %}
            params.set('human', 0)
        {% else %}
            params.set('human', 1)
        {% endif %}

        // add get parameters only if not empty
        if (params.toString().length > 0)
                window.location.href = window.location.origin + window.location.pathname + '?' + params.toString();
        else
            window.location.href = window.location.origin + window.location.pathname;
    });

    let recent_options = document.getElementsByClassName('recent_option');
    Array.prototype.forEach.call(recent_options, (option) => {
        option.addEventListener('click', (el) => {
            // Simulate a mouse click:
            document.getElementsByClassName('recent_selected')[0].classList.remove('recent_selected');
            option.classList.add('recent_selected');

            let url = new URL(window.location.href)
            let params = new URLSearchParams(url.search);
            params.set('recent', option.getAttribute('value'))

            // add get parameters only if not empty
            if (params.toString().length > 0)
                    window.location.href = window.location.origin + window.location.pathname + '?' + params.toString();
            else
                window.location.href = window.location.origin + window.location.pathname;
            });
    });

    let reactions = document.getElementsByClassName('reaction');
    Array.prototype.forEach.call(reactions, (reaction) => {
        reaction.addEventListener('click', (el) => {
            // Simulate a mouse click:
            reaction.classList.toggle('reaction_active');

            let reaction_input = document.getElementById('comment_reaction_' + reaction.getAttribute('data-post'));
            reaction_input.value = reaction.getAttribute('data-reaction');

            // let url = new URL(window.location.href)
            // let params = new URLSearchParams(url.search);
            // params.set('reaction', `${reaction.getAttribute('data-post')}_${reaction.getAttribute('data-reaction')}`)

            // window.location.href = window.location.origin + window.location.pathname + '?' + params.toString();
        });
    });
</script>