{% include "header.html" %}

<!-- explorer page information block -->
<header class="masthead text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    <p class="mb-2">Bitcoin Testnet Address</p>

                    {% if totalNmberOfPosts != "0" %}
                        <p class="transaction_id_title mb-lg-0">{{ address }} - {{ totalNmberOfPosts }} posts</p>
                    {% else %}
                        <p class="transaction_id_title mb-lg-0">{{ address }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Basic features section-->
<section class="bg-light section_explorer_address" id="post_msg">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-12">
                {% if totalNmberOfPosts == "0" %}
                    <h2 class="display-4 lh-1 mb-4">No posts yet...</h2>
                {% else %}
                    <div class="post_container">
                        {% for message in messages %}
                            <div class="post_wrapper">
                                <div class="post">
                                    <div class="post_profile_image">
                                        <!-- Sent from -->
                                        {% for address in message.addresses %}
                                            {% if not address.direction %}
                                                <a href="/{{ address.address }}">
                                                    <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <span class="from_to_arrow">&#8674;</span>

                                        <!-- Sent to -->
                                        {% for address in message.addresses %}
                                            {% if address.direction %}
                                                <a href="/{{ address.address }}">
                                                    <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="post_content">
                                        <div class="post_relevant_information">
                                            <a href="/post/{{ message.hash }}" class="profile_name_link">Post #{{ format_shorten_address(message.hash) }}</a>
                                            <span class="separator">&#9900;</span>
                                            <span class="post_date">{{ format_date(message.timestamp) }}</span>
                                        </div>
                                        <div class="post_text">{{ message.text }}</div>                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}