{% include "header.html" %}

<!-- explorer page information block -->
<header class="masthead masthead-contact text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    {% if g.net == "btc-test" %}
                        <p class="mb-2">Bitcoin Testnet Address</p>
                    {% elif g.net == "btc" %}
                        <p class="mb-2">Bitcoin Blockchain Address</p>
                    {% endif %}

                    <p class="transaction_id_title mb-lg-0">{{ address }}</p>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Basic features section-->
<section class="bg-light section_explorer_address">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-12 col-lg-10">

                <div class="setting_section">
                    <div class="recent_filter">
                        <div name="recent" id="recent_select">
                            <div value="D" class="recent_option {% if g.recent == 'D' %}recent_selected{% endif %}">1D</div>
                            <div value="W" class="recent_option {% if g.recent == 'W' %}recent_selected{% endif %}">1W</div>
                            <div value="M" class="recent_option {% if g.recent == 'M' %}recent_selected{% endif %}">1M</div>
                            <div value="Y" class="recent_option {% if g.recent == 'Y' %}recent_selected{% endif %}">1Y</div>
                            <div value="A" class="anytime_recent recent_option {% if g.recent == 'A' %}recent_selected{% endif %}">Anytime</div>
                        </div>
                    </div>
                    <div class="filter">
                        <!-- Rounded switch Human Readable On/Off -->
                        <label class="switch" id="hum_read_switch">
                            <input type="checkbox" {% if human %}checked{% endif %}>
                            <span class="slider round"></span>
                        </label>
                        <span class="hum_read_switch_text">Human Readable Filter</span>
                    </div>
                </div>
                
                {% if totalNmberOfPosts == "0" %}
                    <h2 class="display-4 lh-1 mb-4 explorer_list_title">No posts yet...</h2>
                {% else %}
                    <div class="post_container">
                        {% for message in messages %}
                            <div class="post_wrapper">
                                <div class="post">
                                    <div class="post_profile_image">
                                        <!-- Sent from -->
                                        {% for address in message.addresses %}
                                            {% if not address.direction %}
                                                <a href="/{{ address.address }}">
                                                    <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if message.addresses|length > 1 %}
                                            <a href="{{ url_for('post', hash=message.hash) }}" class="arrow_address"><span class="from_to_arrow"><i class="bi bi-arrow-right-circle"></i></span></a>
                                        {% endif %}

                                        <!-- Sent to -->
                                        {% for address in message.addresses %}
                                            {% if address.direction %}
                                                <a href="/{{ address.address }}">
                                                    <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="post_content">
                                        <div class="post_relevant_information">
                                            <a href="/post/{{ message.hash }}" class="profile_name_link">Post #{{ format_shorten_address(message.hash) }}</a>
                                            <span class="separator">&#9900;</span>
                                            <span class="post_date">{{ format_date(message.timestamp) }}</span>
                                        </div>
                                        <div class="post_text">{{ message.text }}</div>                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- script for posts refering and human-readable filter -->
<script>
    let post_blocks = document.getElementsByClassName('post_wrapper');

    Array.prototype.forEach.call(post_blocks, (block) => {
        block.addEventListener('click', () => {
            // Simulate a mouse click:
            window.location.href = block.getElementsByClassName('profile_name_link')[0].href;
        });
    });

    let switchHumRead = document.getElementById("hum_read_switch");
    switchHumRead.addEventListener('click', () => {
        // Simulate a mouse click:
        let url = new URL(window.location.href)
        let params = new URLSearchParams(url.search);

        {% if human %}
            params.set('human', 0)
        {% else %}
            params.set('human', 1)
        {% endif %}

        window.location.href = "{{ url_for('address', id=address) }}?" + params.toString()
    });

    let recent_options = document.getElementsByClassName('recent_option');
    Array.prototype.forEach.call(recent_options, (option) => {
        option.addEventListener('click', (el) => {
            // Simulate a mouse click:
            document.getElementsByClassName('recent_selected')[0].classList.remove('recent_selected');
            option.classList.add('recent_selected');

            let url = new URL(window.location.href)
            let params = new URLSearchParams(url.search);
            params.set('recent', option.getAttribute('value'))

            window.location.href = "{{ url_for('address', id=address) }}?" + params.toString()
        });
    });
</script>

{% include "footer.html" %}