{% include "header.html" %}

<!-- explorer page information block -->
<header class="masthead text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    <p class="mb-2">Bitcoin Testnet Messages</p>
                    <p class="transaction_id_title mb-lg-0">Explorer</p>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Basic features section-->
<section class="bg-light" id="post_msg">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-12">
                <h2 class="display-4 lh-1 mb-4">100 most recent messages</h2>

                <ul>
                    {% for message in messages %}
                        <li>
                            {{ message.timestamp }}: 
                            {{ message.text }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}