{% extends 'base.html' %}

{% block page_content %}
<!-- explorer page information block -->
<header class="masthead masthead-explorer masthead-contact text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    {% if g.net == "btc-test" %}
                        <p class="mb-2">Bitcoin Testnet Explorer</p>
                    {% elif g.net == "btc" %}
                        <p class="mb-2">Bitcoin Blockchain Explorer</p>
                    {% endif %}
                    <p class="transaction_id_title mb-lg-0">{{ totalNmberOfPosts }} posts listed</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Posts list section -->
{% include 'elements/post_wrapper.html' %}

{% endblock %}