{% extends 'base.html' %}

{% block page_content %}
<!-- explorer page information block -->
<header class="masthead masthead-contact text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    {% if g.net == "btc-test" %}
                        <p class="mb-2">Bitcoin Testnet Explorer</p>
                    {% elif g.net == "btc" %}
                        <p class="mb-2">Bitcoin Blockchain Explorer</p>
                    {% endif %}
                    <p class="transaction_id_title mb-lg-0">{{ totalNmberOfPosts }} posts listed</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Posts list section -->
{% include 'elements/post_wrapper.html' %}

<!-- script for posts refering and human-readable filter -->
<script>
    // let post_blocks = document.getElementsByClassName('post_wrapper');
    // Array.prototype.forEach.call(post_blocks, (block) => {
    //     block.addEventListener('click', () => {
    //         // Simulate a mouse click:
    //         window.location.href = block.getElementsByClassName('profile_name_link')[0].href;
    //     });
    // });

    let switchHumRead = document.getElementById("hum_read_switch");
    switchHumRead.addEventListener('click', () => {
        // Simulate a mouse click:
        let url = new URL(window.location.href)
        let params = new URLSearchParams(url.search);

        {% if human %}
            params.set('human', 0)
        {% else %}
            params.set('human', 1)
        {% endif %}

        // add get parameters only if not empty
        if (params.toString().length > 0)
                window.location.href = window.location.origin + window.location.pathname + '?' + params.toString();
        else
            window.location.href = window.location.origin + window.location.pathname;
    });

    let recent_options = document.getElementsByClassName('recent_option');
    Array.prototype.forEach.call(recent_options, (option) => {
        option.addEventListener('click', (el) => {
            // Simulate a mouse click:
            document.getElementsByClassName('recent_selected')[0].classList.remove('recent_selected');
            option.classList.add('recent_selected');

            let url = new URL(window.location.href)
            let params = new URLSearchParams(url.search);
            params.set('recent', option.getAttribute('value'))

            // add get parameters only if not empty
            if (params.toString().length > 0)
                    window.location.href = window.location.origin + window.location.pathname + '?' + params.toString();
            else
                window.location.href = window.location.origin + window.location.pathname;
            });
    });
</script>
{% endblock %}