<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Inforever 2023</div>
            <a href="{{ url_for('mission') }}">Our mission</a>
            <span class="mx-1">&middot;</span>
            <a target="_blank" href="https://github.com/inforevertech/inforever">Source Code</a>
            <span class="mx-1">&middot;</span>
            <a href="{{ url_for('contact') }}">Contact us</a>
        </div>
    </div>
</footer>


</body>
</html>