<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inforever - data sharing platform</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <!-- <a class="navbar-brand fw-bold" href="/">Inforever</a> -->

            <div class="network_select_wrapper">
                <label for="network_select" id="network_select_label"><a class="navbar-brand fw-bold network_brand" href="{{ url_for('index') }}">Inforever</a>
                    <select id="network_select">
                        {% for net in g.nets %}
                            <option value="{{ net['tag'] }}" {% if g.net == net['tag'] %}selected hidden{% endif %}>{{ net['name'] }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 explorer_search_ul">
                    <li class="nav-item explorer_search_link">
                        <div class="search_field">
                            <label for="search_bar">
                                <i class="bi bi-binoculars {% if search %}bi-search-hidden{% endif %}" id="binoculars_search"></i>
                                <i class="bi bi-x-lg {% if not search %}bi-search-hidden{% endif %}" id="clear_search"></i>
                            </label>
                            <input type="search" id="search_bar" placeholder="Search" value="{{ search }}">
                        </div>
                        <a class="nav-link me-lg-3 explorer-header-link" id="explorer-header-link" href="{{ url_for('explorer') }}">Explore</a>
                    </li>
                </ul>
                <a href="{{ url_for('create') }}" class="nav-link">
                    <button class="btn btn-primary bg-gradient-primary-to-secondary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            Post message
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </nav>

    <script>
        // this function redirects to correct url for search
        function search(event) {
            event.preventDefault();

            let url = new URL(window.location.href)
            let params = new URLSearchParams(url.search)

            // don't add if search value is empty
            if (search_bar.value.length > 0)
                params.set('search', search_bar.value)
        
            // add get parameters only if not empty
            if (params.toString().length > 0)
                window.location.href = explore_btn.href + '?' + params.toString();
            else
                window.location.href = explore_btn.href;
        }

        // imitate click on explorer link when hit enter
        let search_bar = document.getElementById("search_bar");
        search_bar.addEventListener("keydown", (event) => {
            if (event.code == "Enter")
                search(event)
            else {
                // toggle bi-search-hidden class
                clear_search.classList.remove('bi-search-hidden')
                binoculars_search.classList.add('bi-search-hidden')
            }
        });

        // explorer search redirect
        let explore_btn = document.getElementById('explorer-header-link');
        explore_btn.addEventListener('click',  search);

        // clear search button
        let clear_search = document.getElementById('clear_search')
        let binoculars_search = document.getElementById('binoculars_search')

        clear_search.addEventListener('click', () => {
            search_bar.value = ''  // clear search bar

            // toggle bi-search-hidden class
            clear_search.classList.add('bi-search-hidden')
            binoculars_search.classList.remove('bi-search-hidden')
        })


        // network selection switch
        let network_select = document.getElementById('network_select');
        let index_url = "{{ url_for('index') }}";

        network_select.addEventListener('change', (option) => {
            // form a correct path
            let path = window.location.pathname;
            while (path.substring(0, 3) == 'btc' || path.substring(1, 4) == 'btc') 
                if (path.substring(0, 3) == 'btc')
                    path = path.split('/').slice(1).join('/')
                else
                    path = path.split('/').slice(2).join('/')
           
            window.location.href = index_url + network_select.value + '/' + path + window.location.search;
        });
    </script>