{% extends 'base.html' %}

{% block page_content %}

<div class="mission bg-gradient-primary-to-secondary">
    <!-- title information block -->
    <header class="masthead masthead-contact masthead-mission text-center">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-12">
                    <div class="h2 fs-1 text-white">
                        <p class="mb-2 mission_title">Mission</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Text Info section-->
    <section id="mission_text">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="mission_cols col-12 col-lg-12">
                    <p class="mission_verse">
                        Within the battle of the greatest, we slowly take our power back,<br>
                        All words and beings keep protesting to decentralize the land.<br>
                        Our trace is always present, and we are here for all to see<br>
                        That our words we keep forever, that we are open to be free.<br>

                        <i class="bi bi-broadcast-pin mission_icon d-block mb-3"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}