{% extends 'base.html' %}

{% block page_content %}

<!-- transaction id information block -->
<header class="masthead masthead-contact masthead-explorer text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    {% if post and post.network == "btc-test" %}
                        <p class="mb-2">Bitcoin Testnet Post</p>
                    {% elif post and post.network == "btc" %}
                        <p class="mb-2">Bitcoin Blockchain Post</p>
                    {% elif not post %}
                        <p class="mb-2">Blockchain Post</p>
                    {% else %}
                        <p class="mb-2">Sample Network Post</p>
                    {% endif %}
                    <p class="transaction_id_title mb-lg-0">{{ post_hash }}</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Basic features section-->
<section id="post_msg">
    <form method="POST" id="interaction_form">
        <div class="container px-5">
            <div class="row gx-5 align-items-start justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-6">
                    {% if post %}
                        <div class="post_profile_image">
                            <span class="post_submenu" id="post_submenu_btn">
                                <i class="bi bi-three-dots"></i>
                            </span>

                            <div class="modal_sub_menu" id="modal_sub_menu">
                                <ul>
                                    <li><a href="{{ explorer_url }}{{ post.hash }}" target="_blank" rel="noopener noreferrer">See transaction status in blockchain explorer</a></li>
                                    <li id="copy_link_btn">Copy post link</li>
                                </ul>
                            </div>

                            <!-- Sent from -->
                            {% for address in post.addresses %}
                                {% if not address.direction %}
                                    <a href="/{{ address.address }}">
                                        <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                    </a>
                                {% endif %}
                            {% endfor %}
                            
                            {% if post.addresses|length > 1 %}
                                <a href="#" class="arrow_address"><span class="from_to_arrow"><i class="bi bi-arrow-right-circle"></i></span></a>
                            {% endif %}

                            <!-- Sent to -->
                            {% for address in post.addresses %}
                                {% if address.direction %}
                                    <a href="/{{ address.address }}">
                                        <img src="{{ url_for('static', filename=find_address_avatar(address.address)) }}" alt="profile picture" class="profile_picture">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <h5 class="lh-1 mb-2">
                            <span class="post_date">{{ format_date(post.timestamp) }}</span>
                            {% if post.isReply %}
                                <span class="separator">&#9900;</span>
                                <span class="post_replying_to">
                                    replying to <a href="{{ url_for('post', hash=post.replyToHash) }}" class="reply_post_link">#{{ format_shorten_post_hash(post.replyToHash) }}</a>
                                </span>
                            {% endif %}
                        </h5>
                        <br>
                        <!-- <h5 class="lh-1 mb-2">Content: </span></h5> -->
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0 post_text">{{ post.formatted_text }}</p>

                        <br>
                        <div class="post_media post_page_media">
                            <!-- videos -->
                            {% for media in post.media %}
                                {% if media.type == "video/mp4" %}
                                    <div class="media_pic">
                                        <!-- <a href="{{ url_for('media', id=media.id) }}" target="_blank"> -->
                                            <video alt="media" class="media_image" controls>
                                                <source src="{{ url_for('media', id=media.id) }}" type="video/mp4">
                                            </video>
                                        <!-- </a> -->
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <!-- images -->
                            {% for media in post.media %}
                                {% if media.type == "image/jpeg" %}
                                    <div class="media_pic {% if post.media|length > 1 %}multiple_post_pics{% endif %}">
                                        <a href="{{ url_for('media', id=media.id) }}" target="_blank">
                                            <img src="{{ url_for('media', id=media.id) }}" alt="media" class="media_image">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <!-- other files -->
                            {% for media in post.media %}
                                {% if media.type != "image/jpeg" and media.type != "video/mp4" %}
                                    <div class="media">
                                        <a href="{{ url_for('media', id=media.id) }}" target="_blank">
                                            <span class="media_icon"><i class="bi bi-file-earmark-text"></i></span>
                                            <span class="media_filename">{{ media.filename }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="post_reactions post_page_reactions">
                            {% for reaction in g.reactions %}
                                <button class="reaction reaction_{{ reaction }}" data-reaction="{{ reaction }}" data-post="{{ post.hash }}" type="submit">{{ g.reactions[reaction]|safe }}
                                    {% if post[reaction + '_counter'] > 0 %}
                                        <span class="reaction_number">{{ post[reaction + '_counter'] }}</span>
                                    {% endif %}
                                </button>
                            {% endfor %}

                            {% if post.postedLocally %}
                                <a href="{{ url_for('create', reply=post.hash) }}" class="reaction btc_reaction">
                                    <i class="bi bi-reply-fill"></i>
                                    <i class="bi bi-currency-bitcoin"></i>
                                    {% if fullPostReplies > 0 %}
                                        <span class="reaction_number full_post_replies_counter">{{ fullPostReplies }}</span>
                                    {% endif %}
                                </a>
                            {% endif %}
                        </div>

                        <div class="reaction_comment post_reaction_comment">
                            <div class="reaction_comment_wrap">
                                <span class="comment_icon"><label for="comment_{{ post.hash }}"><i class="bi bi-chat-right-text"></i></label></span>
                                <textarea name="comment_text" id="comment_{{ post.hash }}" class="comment_textarea" placeholder="Leave a comment" maxlength="5000"></textarea>
                                <input type="hidden" id="comment_post_{{ post.hash }}" name="comment_post" value="{{ post.hash }}">
                                <input type="hidden" name="comment_reaction" id="comment_reaction_{{ post.hash }}" value="">
                                <span class="comment_icon comment_next_icon"><button type="submit"><i class="bi bi-arrow-right"></i></button></span>
                            </div>
                        </div>
                        
                    {% else %}
                        <h3 class="mb-2">Post is still waiting for acceptance into mempool or not existent.</h3>
                        <br>
                    {% endif %}
                </div>
                <div class="col-sm-8 col-md-6">
                    {% if post.repliers %}

                        {% if full_post_replies(post.repliers) %}
                            <!-- FULL POST REPLIES -->
                            <div class="published_replies post_published_replies">
                                {% for reply in post.repliers %}
                                    {% set fullPosts = True %}
                                    {% if reply.fullPost %}
                                        {% include 'elements/post_reply.html' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if comment_replies(post.repliers) %}
                            {% if full_post_replies(post.repliers) %}
                                <div class="three_dots_repliers">
                                    <i class="bi bi-three-dots"></i>
                                </div>
                            {% endif %}
                            <!-- COMMENT REPLIES -->
                            <div class="published_replies post_published_replies">
                                {% for reply in post.repliers %}
                                    {% set fullPosts = False %}
                                    {% if not reply.fullPost %}
                                        {% include 'elements/post_reply.html' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <h5 class="display-6 mb-4 post_empty_moto">This post {% if post %}is{% else %}can be{% endif %} published on the Bitcoin {% if post and post.network == "btc-test" %}Testnet{% else %}Blockchain{% endif %}.</h5>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">It is kept forever.<br>Cannot be censored.<br>Accessible by everyone.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</section>

<!-- copy to link to clipboard script -->
<script>
    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }

        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    // on button click add the link to clipboard
    const button = document.getElementById("copy_link_btn");
    button.addEventListener("click", (event) => {
        // prevent default form submit
        event.preventDefault();
        copyTextToClipboard("{{ url_for('post', hash=post_hash, _external=True) }}");
    });

    let reactions = document.getElementsByClassName('reaction');
    Array.prototype.forEach.call(reactions, (reaction) => {
        reaction.addEventListener('click', (el) => {
            // Simulate a mouse click:
            reaction.classList.toggle('reaction_active');

            if (!reaction.classList.contains('reply_reaction')) {
                let reaction_input = document.getElementById('comment_reaction_' + reaction.getAttribute('data-post'));
                reaction_input.value = reaction.getAttribute('data-reaction');
            }
            // update correct input values for replies
            else if (reaction.classList.contains('reply_reaction')) {
                let post_parent_hash = reaction.getAttribute('data-parent');
                document.getElementById('comment_reaction_' + post_parent_hash).value = reaction.getAttribute('data-reaction');
                document.getElementById('comment_post_' + post_parent_hash).value = reaction.getAttribute('data-post');
            }
        
        });
    });

    let btn_replies = document.getElementsByClassName('reply_comment_next_icon');
    Array.prototype.forEach.call(btn_replies, (btn_reply) => {
        btn_reply.addEventListener('click', (event) => {
            // prevent default form submit
            event.preventDefault();
            // update hash
            let post_hash = document.getElementById('comment_post_{{ post.hash }}');
            post_hash.value = btn_reply.getAttribute('data-reply');
            // update text value
            let comment_text = document.getElementById('comment_{{ post.hash }}');
            comment_text.value = document.getElementById('comment_' + btn_reply.getAttribute('data-reply')).value;
            // submit the form
            document.getElementById('interaction_form').submit();
        });
    });

    let post_submenu_btn = document.getElementById('post_submenu_btn');
    let modal_sub_menu = document.getElementById('modal_sub_menu');
    post_submenu_btn.addEventListener('click', (event) => {
        post_submenu_btn.classList.toggle('post_submenu_active');
        modal_sub_menu.classList.toggle('modal_sub_menu_active');
    });
</script>

{% endblock %}