{% include "header.html" %}

<!-- transaction id information block -->
<header class="masthead text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-12">
                <div class="h2 fs-1 text-white">
                    <p class="mb-2">Bitcoin Testnet Message</p>
                    <p class="transaction_id_title mb-lg-0">{{ transactionId }}</p>
                </div>
            </div>
        </div>
    </div>
    
</header>

<!-- Basic features section-->
<section class="bg-light" id="post_msg">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">

                {% if statusCode == 200 %}
                    <h5 class="lh-1 mb-2"><span class="post_date">{{ postDate }}</span></h5>
                    <br>
                    <h5 class="lh-1 mb-2">Message: </span></h5>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ transactionData }}</p>
                {% else %}
                    <h3 class="lh-1 mb-2">{{ transactionData }}</h3>
                {% endif %}

                <br>
                <p><a href="{{ blockchainUrl }}" target="_blank" rel="noopener noreferrer" class="external_explorer_link">See transaction status in blockchain explorer</a></p>
            </div>
            <div class="col-sm-8 col-md-6">
                
                <h5 class="display-6 mb-4">This message is posted on the Bitcoin Blockchain.</h5>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">It is posted permanently.<br>Cannot be censored.<br>Accessible by everyone.</p>
                <button class="btn btn-primary px-3 mb-2 mb-lg-0" id="copy_link_btn">Copy the link</button>

            </div>
        </div>
    </div>
</section>

<!-- copy to link to clipboard script -->
<script>
    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }

        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    // on button click add the link to clipboard
    const button = document.getElementById("copy_link_btn");
    button.addEventListener("click", (event) => {
        copyTextToClipboard("{{ transactionUrl }}");

        button.classList.add("clicked_copy_btn");
        setTimeout(() => {
            button.classList.remove("clicked_copy_btn")
        }, 3000);
    });
</script>

{% include "footer.html" %}